<div class="bottom">
	<select name="improvement" [(ngModel)]="type">
		@for (i of getPossible(); track $index) {
			<option value="{{i.type}}">{{i.type}}</option>
		}
	</select>
	<button [attr.disabled]="canImprove() ? null : true" (click)="addImprovement()" (click)="playSoundEffect(type)"
		class="btn btn-primary">Add</button>
</div>
<div class="resources">
	<table>
		<thead>
			<tr>
				<th>Cost</th>
				<th class="small-col"></th>
			</tr>
		</thead>
		<tbody>
			@for (i of getRequirements() | keyvalue; track $index) {
				<tr [class.not-enough]="!hasResourceAmount(i.key, i.value)">
					<td>{{i.key}}</td>
					<td>{{i.value}}</td>
				</tr>
			}
		</tbody>
	</table>
	<table>
		<thead>
			<tr>
				<th>Product</th>
				<th class="small-col"></th>
			</tr>
		</thead>
		<tbody>
			@for (i of getProduces() | keyvalue; track $index) {
				<tr>
					<td>{{i.key}}</td>
					<td>{{i.value}}</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<!-- </div> -->