.bottom {
	display: flex;
}

.bottom select{
	flex-grow: 1;
	margin-right: .5em;
}

.resources {
	display: flex;
	align-items: start;
}

.resources table {
	width: 7em;
}

thead {
	border-bottom: 1px solid #0003;
}

.not-enough {
	color: orange;
}