<div>
	<img src="assets/terrain/grass.png" class="terrain">
	@if (improvement.level) {
		<img src="assets/buildings/{{improvement.type}}.png" class="building">
		<div class="dialog" [class.hidden]="!displayPanel">
			<app-edit-improvement-dialog [index]="index"/>
		</div>
		@if (improvement.level > 1) {
			<span class="badge rounded-pill bg-primary">{{improvement.level}}</span>
		}
	}
	@else {
		<div class="dialog" [class.hidden]="!displayPanel">
			<app-add-improvement-dialog [index]="index"/>
		</div>
	}
	<button class="clicker" (click)="displayPanel = !displayPanel"></button>
</div>