:host {
	aspect-ratio: 1;
}

div {
	position: relative;
	height: 100%;
	width: 100%;
}

img {
	image-rendering: pixelated;
}

.terrain {
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: -2;
}

.building {
	position: absolute;
	top: -100%;
	width: 100%;
	z-index: -1;
}

.dialog {
	pointer-events: all;
	transition: transform .5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
	transform: scale(1);
	position: absolute;
	bottom: 50%;
	display: flex;
	justify-content: end;
	align-items: center;
	flex-direction: column;
	transform-origin: 50% 100%;
	z-index: 1;
}

.dialog.hidden {
	pointer-events: none;
	transform: scale(0);
}

.dialog > * {
	background-color: #fff6;
	border-radius: 1em;
	padding: .5em;
	backdrop-filter: blur(10px);
	display: inline-block;
}

.dialog::after {
	content: "";
	border: 1em solid;
	width: 0px;
	height: 0px;
	display: block;
	transform: rotate(45deg);
	border-color: #fff0 #fff6 #fff6 #fff0;
	border-radius: 5px 0px;
	margin-top: -1em;
	backdrop-filter: blur(10px);
	z-index: -1;
}

.badge {
	font-size: 1.25em;
	font-family: "dogica";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.clicker {
	position: absolute;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
	border: none;
	background: none;
}