app-resources-view {
    position: sticky;
    top: 0;
    z-index: 10;
	background-color: #fff8;
	backdrop-filter: blur(10px);
	display: block;
}

.hidden {
	position: fixed;
	width: 0px;
	height: 0px;
	padding: 0px;
	opacity: 0;
	pointer-events: none;
}