<app-resources-view />
<button class="btn-mute btn btn-outline-primary" (click)="musicMuted = !musicMuted">
	@if (musicMuted) {
		&#xF60C;
	} @else {
		&#xF610;
	}
</button>
<audio autoplay loop [volume] = "0.2" style="display: none;" [muted]="musicMuted">
	<source src="/assets/sounds/Music Bed/Music.wav" type="audio/wav">
</audio>
<h1>{{title}}</h1>
@if (isGameLoaded()) {
	<app-map />
} @else {
	<app-load-menu />
}
<div class="hidden">
	@for (image of buildingTypes; track $index) {
		<img src="assets/buildings/{{image}}.png">
		<audio src="assets/sounds/Sound Effects/{{image}}.wav"></audio>
	}
	<audio src="assets/sounds/Sound Effects/destroy.wav"></audio>
	<audio src="assets/sounds/Sound Effects/upgrade.wav"></audio>
	<audio src="assets/sounds/Sound Effects/downgrade.wav"></audio>
	<img src="assets/terrain/grass.png">
</div>
<footer></footer>