.grid-container{
	display:grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	position: relative;
	z-index: 1;
	overflow-y: visible;
}

main {
	max-width: 800px;
	margin-top: 1em;
}

h1 {
	font-weight: bolder;
	font-size: 6em;
	color: #fff;
	text-align: center;
}

@keyframes tileIn {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

app-tile {
	animation: tileIn 1s ease-out;
	animation-fill-mode: backwards;
}

audio{
	  display:none;
}
	