/* You can add global styles to this file, and also import other style files */
body {
	background-image: linear-gradient(to top, #08f, #bff);
	background-attachment: fixed;
}

@font-face {
	font-family: "dogica";
	src: url("./app/fonts/dogicapixel.ttf");
}

.btn-pulse {
    box-shadow: 0px 0px 0px 20px transparent;
    transition: box-shadow .5s;
}

.btn-pulse:active {
    box-shadow: 0px 0px 0px 0px var(--bs-btn-bg);
    transition: box-shadow 0s;
}

.btn-outline-primary.btn-pulse:active {
    --bs-btn-bg: var(--bs-btn-border-color);
}