.level {
	display: flex;
	margin-bottom: .5em;
}

.level span {
	flex-grow: 1;
	text-wrap: nowrap;
}

.level button {
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	padding: 0px;
	text-align: center;
	margin-left: .5em;
	font-weight: bold;
}

.delete {
	display: block;
	width: 100%;
}

.resources {
	display: flex;
	align-items: start;
}

.resources table {
	width: 7em;
}

thead {
	border-bottom: 1px solid #0003;
}

h5 {
	margin-bottom: -.75rem;
}

.not-enough {
	color: orange;
}