<main>
	<div class="slots">
		<p (click)="loadOrCreate(1)">
			@if (slotHasSave(1)) {
				Load Game 1
			} @else {
				New Game
			}
		</p>
		<p (click)="loadOrCreate(2)">
			@if (slotHasSave(2)) {
				Load Game 2
			} @else {
				New Game
			}
		</p>
		<p (click)="loadOrCreate(3)">
			@if (slotHasSave(3)) {
				Load Game 3
			} @else {
				New Game
			}
		</p>
		<p (click)="loadOrCreate(4)">
			@if (slotHasSave(4)) {
				Load Game 4
			} @else {
				New Game
			}
		</p>
		<p (click)="loadOrCreate(5)">
			@if (slotHasSave(5)) {
				Load Game 5
			} @else {
				New Game
			}
		</p>
	</div>
</main>